.segment{
    &-item{
        border-radius: 6px;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        padding: 8px;
        min-width: 64px;
    
        &-active{
            @extend .segment-item;
            background-color: dodgerblue;
            font-weight: bold;
        }
    }
}